.pricing {
  display: flex;
  flex-direction: column;
  gap: 20px;

  button {
    width: 100%;
    align-self: center;
  }

  @media (min-width: $breakpoint-sm) {
    button {
      width: max-content;
    }
  }
}

.slider {
  display: grid;

  :global(.swiper) {
    max-width: 100%;
  }
}

.list {
  display: flex;
  gap: 20px;
  justify-content: center;

  li {
    flex: 1;
  }
}
