@use './fonts.scss';

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-dark;
}

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  color: $color-dark;
  text-decoration: none;
}
